{% extends 'base.html' %}

{% block content %}

    <br>

    {% for blog in blogs %}
        <a class="btn btn-lg btn-primary"
                   href="{% url 'detail' blog.id %}"
                   role="button">
        <main role="main" class="container">
            <div class="jumbotron">
                <h1>{{ blog.title }}</h1>                   {# 제목  #}
                <br>
{#                <h4>작성일 : {{ blog.pub_date }}</h4>        {# 작성일  #}
{#                <br>#}
                <h4>{{ blog.author }}</h4>            {#작성자#}
                <br>

                세상에서 제일 맛있어                        {#상점 소개 or 위치#}
            </div>
        </main>
        </a>
    {% endfor %}

{% endblock %}